{% extends "base.html" %}
{% block content%}
<div class="container">
    <h1>Calendar</h1>
    <div class="float-end">
        <form action="{{url_for('calendar')}}" method="GET">
            <input type="month" id="month" name="month" value="{{ month }}">
            <input type="submit">
        </form>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Location</th>
                <th scope="col">Distance</th>
                <th scope="col">Report</th>
                <th scope="col">User_IDs</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <th scope="row">{{trip.customer}}</th>
                <td>{{trip.date}}</td>
                <td>{{trip.location}}</td>
                <td>{{'' if trip.distance is none else (trip.distance/1000)|round}}</td>
                <td>{{trip.report}}</td>
                <td>{{trip.user.firstname}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('viewtrips', id=trip.id) }}">Edit</a>
                </td>
                <td>
                    <a href="{{ url_for('deleteTrips', id=trip.id) }}" title="delete" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this Case?')">Delete Case</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="white-space: pre">
        <div class="float-end">ระยะทางทั้งหมด = {{(total_distance/1000)|round}} กิโลเมตร</div>
        <div class="float-end">ค่าใช้จ่ายรวม = {{total_price|round}} บาท</div>
    </div>

</div>
{% endblock %}