{% extends "base.html" %}
{% block content%}
<h1>Users Data</h1>
<a href="/usersdata/add"><button class="btn btn-primary">Add User</button></a>
<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Gmail</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">1</th>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.gmail}}</td>
            <td>{{user.username}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}