{% extends "base.html" %}
{% block content%}
<div class="container">

    <h1>View Trips</h1>

    <form action="{{ url_for('viewtrips', id=trip.id) }}" method="POST">
        <h3>Start</h3>
        <div class="mb-3">
            <label for="start-latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="start-latitude" name="start-latitude"
                value="{{ trip.start_latitude }}">
        </div>
        <div class="mb-3">
            <label for="start-longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="start-longitude" name="start-longitude"
                value="{{ trip.start_longitude }}">
        </div>
        <button type="button" class="btn btn-primary" onclick="getStartLocation()">Current Location</button>
        <div id="start-location"></div>

        <h3>Finish</h3>
        <div class="mb-3">
            <label for="finish-latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="finish-latitude" name="finish-latitude"
                value="{{ trip.finish_latitude }}">
        </div>
        <div class="mb-3">
            <label for="finish-longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="finish-longitude" name="finish-longitude"
                value="{{ trip.finish_longitude }}">
        </div>
        <button type="button" class="btn btn-primary" onclick="getFinishLocation()">Current Location</button>
        <div id="finish-location"></div>

        <div class="mb-3">
            <div>Report</div>
            <div class="mb-3">
                <input type="radio" id="report" name="report" value="yes" {% if trip.report %}checked{% else %}{% endif
                    %}>Yes</input>
                <input type="radio" id="report" name="report" value="no" {% if not trip.report %}checked{% else %}{%
                    endif %}>No</input>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>


    </form>
</div>










<script>
    var startLocationDiv = document.getElementById('start-location')
    var startLatitudeField = document.getElementById('start-latitude')
    var startLongitudeField = document.getElementById('start-longitude')

    var finishLocationDiv = document.getElementById('finish-location')
    var finishLatitudeField = document.getElementById('finish-latitude')
    var finishLongitudeField = document.getElementById('finish-longitude')

    function getStartLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showStartPosition)
        } else {
            locationDiv.innerHTML = 'Geolocation is not supported by this browser.'
        }
    }

    function getFinishLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showFinishPosition)
        } else {
            locationDiv.innerHTML = 'Geolocation is not supported by this browser.'
        }
    }

    function showStartPosition(position) {
        startLatitudeField.value = position.coords.latitude
        startLongitudeField.value = position.coords.longitude
    }

    function showFinishPosition(position) {
        finishLatitudeField.value = position.coords.latitude
        finishLongitudeField.value = position.coords.longitude
    }
</script>
{% endblock %}